<?xml version="1.0" encoding="UTF-8"?>

    <manifest package="com.example.mingi.management" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    -<application android:theme="@style/AppTheme" android:supportsRtl="true" android:roundIcon="@mipmap/ic_launcher_round" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:allowBackup="true">

    <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyCoYX_8ryLiaZ-sHqjnHp7n6ZyoKXaLzn0"/>


    -<provider android:name="android.support.v4.content.FileProvider" android:grantUriPermissions="true" android:exported="false" android:authorities="com.example.mingi.management.provider">

    <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>

</provider>

    <activity android:name=".LoginActivity"/>

    <activity android:name=".MainActivity"/>

    <activity android:name=".CarJoinActivity"/>

    <activity android:name=".RegisterActivity"/>

    <activity android:name=".CarlistActivity"/>

    <activity android:name=".CarManegementActivity"/>

    <activity android:name=".ListActivity"/>


    -<activity android:name=".Splashscreen" android:theme="@style/AppTheme.NoActionBar">


    -<intent-filter>

    <action android:name="android.intent.action.MAIN"/>

    <category android:name="android.intent.category.LAUNCHER"/>

</intent-filter>

</activity>

    <activity android:name=".DestListActivity"/>

    <activity android:name=".ListMapActivity"/>

    <activity android:name=".CarUpdateActivity"/>

    <activity android:name=".TempActivity"/>

    <activity android:name=".BusinessCardMain"/>

    <activity android:name=".BCListActivity"/>

    <activity android:name=".BCJoinActivity"/>

    <activity android:name=".uploadActivity"/>

    <activity android:name=".SearchAddrActivity"/>

</application>

</manifest>