<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mingi.management">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.DIAL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="운행일지"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCoYX_8ryLiaZ-sHqjnHp7n6ZyoKXaLzn0" />
        -
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.mingi.management.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar2"></activity>
        <activity android:name=".DrivingJoin.CarJoinActivity" />
        <activity android:name=".login.RegisterActivity" />
        <activity android:name=".DrivingJoin.CarlistActivity" />
        <activity android:name=".DrivingJoin.CarManegementActivity" />
        <activity android:name=".DrivingJoin.ListActivity" />
        -
        <activity
            android:name=".login.Splashscreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DrivingJoin.DestListActivity" />
        <activity android:name=".DrivingJoin.ListMapActivity" />
        <activity android:name=".DrivingJoin.CarUpdateActivity"></activity>
        <activity android:name=".BusinessCard.BCJoinActivity" />
        <activity android:name=".BusinessCard.BCListActivity" />
        <activity android:name=".BusinessCard.uploadActivity" />
        <activity android:name=".DrivingJoin.SearchAddrActivity" />
        <activity android:name=".BusinessCard.BCDetailActivity" />
        <activity android:name=".BusinessCard.BCEditActivity" />
        <activity android:name=".BusinessCard.BCFullMapActivity" />
        <activity android:name=".BusinessCard.BCDetailNoAddActivity"></activity>
    </application>

</manifest>